.container1{
    max-width: 2000px;
    height: 800px;
    background-color:rgb(99, 209, 16) ;
    display: flex;
    justify-content: space-around;
}
.box1{
    width: 525px;
    
   height: 220px;
   top: 290px;
    left: 165px;
    opacity: 1px;
    color: white;
   list-style: none;
   align-items: center;
    margin-top: 180px;
}
.box2{
  width: 550px;
  height: 60px;
    opacity: 1px;
    background-color: blue;
    border-radius: 10px;
    list-style: none;
    color: whitesmoke;
    justify-content: center;
    margin-top:40px ;
    box-shadow: 1px 2px 4px 2px rgb(5, 5, 5);
/* ------------------ */
/* width: 520px;
height: 60px; */
top: 121px;
left: 735px;
opacity: 1;
/* ------------ */
font-family: Poppins;
font-weight: 700;
font-size: 15px;
/* leading-trim: NONE; */
line-height: 26px;
letter-spacing: 0.27px;
text-align: center;




}
.box3{
    width: 520px;
    height: 450px;
    align-items: center;
    opacity: 1px;
    top: 250px;
    left: 735px;
    background-color: azure;
    border-radius: 10px;
    margin-top:40px ;
    box-shadow: 1px 2px 4px 2px rgb(0, 0, 0);
}
.input1{
    width: 460px;
    height: 56px;
    opacity: 1px;
    top: 40px;
   left: 40px;
   margin: 10px;
   border-radius: 5px;

}
.input3{
        width: 460px;
    height: 56px;
    opacity: 1px;
    top: 40px;
   left: 40px;
   margin: 10px;
   border-radius: 5px;
}
.input4{
        width: 460px;
    height: 56px;
    opacity: 1px;
    top: 40px;
   left: 40px;
   margin: 10px;
   border-radius: 5px;
}
.btn{
    width: 475px;
    height: 56px;
    opacity: 1px;
    top: 344px;
    left: 40px;
    border-radius: 5px;
    background-color: #38CC8B;
    justify-content: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    /* leading-trim: NONE; */
      line-height: 26px;
    letter-spacing: 1px;

}
.text{
    color: black;
    margin: 10px;
    font-family: Poppins;
font-weight: 500;
font-size: 11px;
/* leading-trim: NONE; */
line-height: 26px;
letter-spacing: 0px;
text-align: center;

}

/* .container1 .box2{
    width:420px ;
    height: 60px;
} */
